<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
</head>
<body>
    <h1>Adicionar gasto</h1>
    <form action="" method="post">
        Valor: <input type="number" name="valorGasto" id="valorGasto" required>
        Data: <input type="date" name="dataGasto" id="dataGasto" required>
        Descrição: <input type="text" name="descGasto" id="descGasto">
        Categoria: <input type="text" name="catGasto" id="catGasto">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>