<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar gasto</h1>
    <form action="" method="post"></form>
        Valor: <input type="number" name="valorGasto" id="valorGasto" value="{{gasto.valor}}" required>
        Data: <input type="date" name="dataGasto" id="dataGasto" value="{{gasto.data}}" required>
        Descrição: <input type="text" name="descGasto" id="descGasto" value="{{gasto.descricao}}">
        Categoria: <input type="text" name="catGasto" id="catGasto" value="{{gasto.categoria}}">
        <input type="submit" value="Editar">
</body>
</html>