<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Gastos</h1>
    <ul>
        {% for gasto in gastos %}
            <li>{{gasto.valor}} - {{gasto.descricao}} - {{gasto.categoria}} - {{gasto.data}}  |  
                <a href="/editar/{{gasto.id}}" id="butEdit">Editar</a>
                <a href="/deletar/{{gasto.id}}" id="butDel">Deletar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/adicionar">Adicionar gasto</a>
</body>
</html>